.createEvent {
    position: absolute;
    width: 100%;
    background-color: #25e6bd;
    height: 100%;
}

.localOrPrivate {
    position: absolute;
    margin-top: 50%;
    width: 100%;
    top: 30%;
    margin: auto;
    text-align: center;

    font-family: 'Montserrat';
    font-size: 3em;
    font-weight: 900;
    text-shadow: black -1px 1px 0px;
    color: white;
    -webkit-text-stroke: 0.2px black;
}

.localOrPrivate Button {
    font-family: 'Montserrat';
    font-size: 3em;
    font-weight: 900;
    text-shadow: black -1px 1px 0px;
    color: white;
    -webkit-text-stroke: 0.2px black;
}

.EventCreateInfo {
    background-color: white;
    border-radius: 0.5em;
    /*width: 85%;*/
    padding: 20px;
}

.weekdayCheckboxes {
    margin-left: 0.5em;
    width: 90%;
}

.submitButton { 
    display: block;
    width: 80%;
    max-width: 20em;
    height: 45px;
    margin: auto;
}

.xButton {
    width: 1em;
    max-width: 8px;
}

.center {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

/* Tag Select */
.TagSelect {
    background-color: white;
    border-radius: 0.5em;
    padding: 20px;
    margin: auto;
}

/* Friend Cohost Select*/
.AddCohost {
    background-color: white;
    border-radius: 0.5em;
    padding: 20px;
    width: 100%;

}
.listFriendWrapper {
    
}
.listFriends {
    
}