/*.homeLogin {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}*/
  
.homeTitle{
    font-family: 'Montserrat';
    font-weight: 900;
    text-shadow: black -1px 1px 0px;
    color: white;
    -webkit-text-stroke: 0.2px black;
    /*color: complement($color: #FFFFFF)*/
}