button.buttonMargin {
    margin: 5px;
}

p {
    font-size: 16px;
}

.ItemTitle {
    margin-top: 10px;
    /* max-height: 10vh; */
    /* overflow: hidden; */
}

.ItemName {
    /* max-height: 7vh; */
    margin: 0px 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 0.2em;
}

.ItemCreator {
    /* max-height: 3vh; */
    margin: 0.2em 0px 0px .5em;
    /* font-size: 1em; */
    align-self: center; 
    display: inline-flex;
    padding-bottom: 3px;
}

.ItemDateTime {
    max-height: 8vh;
    display: inline-flex;
    width: 100%;
    padding: 0 0.5em;
    /* color: white; */
    /* margin: 0.5em 0px */
    /* text-align: center; */
}
.ItemDate {
    width: 50%;
    display: flex;
    /* justify-content: center; */
}

.ItemDescription {
    margin: 0 0.5em;
}

/* .FadingOut {
    background: -webkit-linear-gradient(black 12vh, #eee 14vh);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.NotFadingOut {
    background: -webkit-linear-gradient(black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.ItemPlace {
    height: 13vh;
    display: inline-flex;
    width: 100%;
    padding: 0.5em
}

.RelatedWrapper{
    margin-top: 10px;
    width: 100%;
}
