p {
    margin-bottom: 0;
}

.eventTimes {
    text-align: left;
}

.eventDate {

}

.eventStart {

    /* border: 1px solid grey;
    border-radius: 3px;
    background-color: #02C39A;
    color: #FFFFFF;
    padding: 3px 8px; */
}